In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("Airline_Dataset.csv")

In [3]:
df.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [4]:
# Show nan values per columnns
df.isnull().sum()

id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
Satisfaction                           0
dtype: int64

In [5]:
# Data statistics
df.describe().round(1)

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,129880.0,129880.0,129880.0,129880.0,129880.0,129880.0,129880.0,129880.0,129880.0,129880.0,129880.0,129880.0,129880.0,129880.0,129880.0,129880.0,129880.0,129880.0,129487.0
mean,64940.5,39.4,1190.3,2.7,3.1,2.8,3.0,3.2,3.3,3.4,3.4,3.4,3.4,3.6,3.3,3.6,3.3,14.7,15.1
std,37493.3,15.1,997.5,1.3,1.5,1.4,1.3,1.3,1.4,1.3,1.3,1.3,1.3,1.2,1.3,1.2,1.3,38.1,38.5
min,1.0,7.0,31.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
25%,32470.8,27.0,414.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,2.0,0.0,0.0
50%,64940.5,40.0,844.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0,3.0,4.0,3.0,0.0,0.0
75%,97410.2,51.0,1744.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,4.0,5.0,4.0,5.0,4.0,12.0,13.0
max,129880.0,85.0,4983.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,1592.0,1584.0

In [6]:
df.shape

(129880, 24)

In [7]:
#les lignes avec des valeurs nulles
null_rows = df[df.isnull().any(axis=1)]
print(null_rows)

            id  Gender      Customer Type  Age   Type of Travel     Class  \
213      49608  Female     Loyal Customer   38  Business travel       Eco
1124     73442    Male     Loyal Customer   53  Personal Travel       Eco
1529     71178    Male     Loyal Customer   39  Business travel  Business
2004     72940  Female  disloyal Customer   26  Business travel  Business
2108    116374  Female     Loyal Customer   24  Personal Travel       Eco
...        ...     ...                ...  ...              ...       ...
127976   21780    Male     Loyal Customer   45  Business travel       Eco
128037   64934  Female     Loyal Customer   29  Business travel  Business
128205  125688    Male  disloyal Customer   38  Business travel  Business
129032   64706  Female     Loyal Customer   52  Business travel  Business
129372   85927    Male  disloyal Customer   26  Business travel  Business

        Flight Distance  Inflight wifi service  \
213                 109                      5
1124               1012                      3
1529                733                      2
2004               1035                      3
2108                417                      2
...                 ...                    ...
127976              352                      5
128037             3873                      3
128205              759                      3
129032             3659                      5
129372              447                      1

        Departure/Arrival time convenient  Ease of Online booking  ...  \
213                                     3                       3  ...
1124                                    2                       3  ...
1529                                    5                       5  ...
2004                                    3                       3  ...
2108                                    1                       2  ...
...                                   ...                     ...  ...
127976                                  1                       1  ...
128037                                  3                       3  ...
128205                                  3                       3  ...
129032                                  5                       5  ...
129372                                  0                       1  ...

        Inflight entertainment  On-board service  Leg room service  \
213                          5                 5                 2
1124                         4                 4                 4
1529                         2                 2                 2
2004                         2                 3                 3
2108                         5                 1                 4
...                        ...               ...               ...
127976                       5                 1                 1
128037                       3                 3                 4
128205                       4                 3                 3
129032                       5                 5                 5
129372                       4                 5                 4

        Baggage handling  Checkin service  Inflight service  Cleanliness  \
213                    4                1                 1            5
1124                   4                3                 3            4
1529                   2                2                 2            3
2004                   4                5                 5            2
2108                   2                1                 2            5
...                  ...              ...               ...          ...
127976                 1                3                 2            5
128037                 4                4                 3            3
128205                 5                5                 4            4
129032                 5                3                 5            3
129372                 4                4                 5            4

        Departure Delay in Minutes  Arrival Delay in Minutes  \
213                             31                       NaN
1124                            38                       NaN
1529                            11                       NaN
2004                            41                       NaN
2108                             1                       NaN
...                            ...                       ...
127976                          26                       NaN
128037                          19                       NaN
128205                           0                       NaN
129032                           0                       NaN
129372                           4                       NaN

                   Satisfaction
213                   satisfied
1124    neutral or dissatisfied
1529    neutral or dissatisfied
2004    neutral or dissatisfied
2108    neutral or dissatisfied
...                         ...
127976                satisfied
128037  neutral or dissatisfied
128205                satisfied
129032                satisfied
129372  neutral or dissatisfied

[393 rows x 24 columns]

In [51]:
df.shape

(129880, 24)

In [77]:
data1 = df.dropna()

In [78]:
data1.isnull().sum()

id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
Satisfaction                         0
dtype: int64

In [79]:
data1.shape

(129487, 24)

In [80]:
data1.dtypes

id                                     int64
Gender                                object
Customer Type                         object
Age                                    int64
Type of Travel                        object
Class                                 object
Flight Distance                        int64
Inflight wifi service                  int64
Departure/Arrival time convenient      int64
Ease of Online booking                 int64
Gate location                          int64
Food and drink                         int64
Online boarding                        int64
Seat comfort                           int64
Inflight entertainment                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Inflight service                       int64
Cleanliness                            int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
Satisfaction                          object
dtype: object

In [81]:
numerical_features = data1.select_dtypes(include=['int64', 'float64']).columns
categorical_features = data1.select_dtypes(include=['object', "category"]).columns

print("Numerical:", numerical_features)
print("Categorical:", categorical_features)

numerical_features = ["id ","Age","Flight Distance",                     
"Inflight wifi service",                  
"Departure/Arrival time convenient",     
"Ease of Online booking",                 
"Gate location",                          
"Food and drink",                         
"Online boarding",                        
"Seat comfort",                         
"Inflight entertainment",                 
"On-board service",                       
"Leg room service",                       
"Baggage handling",                       
"Checkin service",                       
"Inflight service",                       
"Cleanliness",                            
"Departure Delay in Minutes",             
"Arrival Delay in Minutes"]

Numerical: Index(['id', 'Age', 'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes',
       'Arrival Delay in Minutes'],
      dtype='object')
Categorical: Index(['Gender', 'Customer Type', 'Type of Travel', 'Class', 'Satisfaction'], dtype='object')

In [83]:
data1.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [90]:

label_encoder = LabelEncoder()
data1.loc[:, 'Satisfaction'] = label_encoder.fit_transform(data1['Satisfaction'])

In [88]:
print(data1["Satisfaction"].value_counts())
print(data1["Satisfaction"].unique())

Satisfaction
0    73225
1    56262
Name: count, dtype: int64
[0 1]

In [86]:
data1.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,0
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,0
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,0
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,1

In [89]:
data1.shape

(129487, 24)

In [97]:
data1 = data1.rename(columns={'id': 'Number'})

In [98]:
data1.head()

,Number,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,0
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,0
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,0
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,1

In [103]:
data1['Delay Total'] = data1['Departure Delay in Minutes'] + data1["Arrival Delay in Minutes"]

In [104]:
data1.head()

,Number,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Satisfaction,Dllay Total,Delay Total
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,3,4,4,5,5,25,18.0,0,43.0,43.0
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,5,3,1,4,1,1,6.0,0,7.0,7.0
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,3,4,4,4,5,0,0.0,1,0.0,0.0
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,5,3,1,4,2,11,9.0,0,20.0,20.0
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,4,4,3,3,3,0,0.0,1,0.0,0.0